.container {
    width: 100%;
}


.text {
    width: max-content;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 12px;
    user-select: none;
}

/* The block itself */
.block {
    width: 100%;
}