@font-face {
    font-family: 'Computer Modern Bright';
    src: url('cmunbmr.eot');
    src: url('cmunbmr.eot?#iefix') format('embedded-opentype'),
        url('cmunbmr.woff') format('woff'),
        url('cmunbmr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern Serif';
    src: url('cmunrm.eot');
    src: url('cmunrm.eot?#iefix') format('embedded-opentype'),
        url('cmunrm.woff') format('woff'),
        url('cmunrm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}