.container {
    margin: auto;
    display: flex;
    align-items: center;
    column-gap: 180px;
}

.form {
    width: 600px;
    min-height: 860px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}