.container {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.text {
  width: max-content;
  font-size: 20px;
  user-select: none;
}

.block {
  flex: 1;
  background: #ffffff;
  border: 1px solid #c8cbce;
  border-radius: 6px;
  padding: 12px;
  font-size: 18px;
  transition: .1s border;
}

.block:focus {
  outline: none;
  border-color: #393939;
}

.block::placeholder {
  color: #8d8d8d;
  font-size: 18px;
}