body {
  font-family: 'Calibri', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
}

button {
  padding: 26px 24px;
  border: 4px solid rgb(51, 182, 95);
  background-color: transparent;
  cursor: pointer;
  color: rgb(23, 83, 43);
  font-weight: 600;
  font-size: 20px;
}

button:hover {
  background-color: #e8f3ea;
}

h1 {
  font-size: 24px;
  font-weight: 800;
}